@model VM_ProductsLicence

<div class="row">
<div class="col-md-2">
   
</div>
<div class="col-md-8">
<main role="main" class="pb-3">
     <div class="container-md border border MyContainer rounded-1 p-2 m-4 w-100 mh-100" style="height: 35rem;">
        <div class="container w-75">
            <div asp-validation-summary="All"></div>
            <form asp-action="CreateProduct" asp-controller="Product" method="post">
                <div class="form-group m-2">
                    <label for="exampleInputName">Product Name</label>
                    <input type="text" class="form-control" asp-for="@Model.products.name" id="exampleInputName" placeholder="Enter Product Name">
                            <span class="text-danger" asp-validation-for="@Model.products.name"></span>
                </div>
                <div class="form-group m-2">
                    <label for="exampleInputDescription">Prouduct Description</label>
                            <textarea class="form-control" asp-for="@Model.products.description" id="exampleInputDescription" placeholder="Enter Product Description"> </textarea>
                            <span class="text-danger border-bottom border-danger" asp-validation-for="@Model.products.description"></span>
                </div>
               
                <div class="form-group m-2">
                    <label for="exampleInputLicenceKey">Lisans Anahtarı : </label>
                            <input type="text" class="form-control" asp-for="@Model.licences.licenceKey" id="exampleInputLicenceKey" placeholder="Enter Licence Key">
                            <span class="text-danger" asp-validation-for="@Model.products.name"></span>
                </div>
                <div class="form-group m-2">
                    <label for="exampleInputExpiryDate">Kullanım Dolum Zamanı : </label>
                            <input type="date" class="form-control" asp-for="@Model.licences.expiryDate" id="exampleInputExpiryDate" placeholder="Enter Licence Key">
                    <span class="text-danger" asp-validation-for="@Model.products.name"></span>
                </div> 
                <input type="hidden"  asp-for="@Model.customerId"/>
                <button type="submit" style="background-color:#474745; color:#ffffff" class="btn w-100 ">Kaydet</button>
            </form>
                    <div class="card">
                        <div class="row m-3">
                            <div class="col-md-12">
                                <p class="myP">Lisans Anahtarı Oluştur : </p>
                            </div>
                            <div class="col-md-4">
                                <button onclick="myFunction()" type="button" class="btn btn-outline-dark">Oluştur</button>
                            </div>
                            <div class="col-md-8">
                                <p id="myGuid">AAAAA</p>
                            </div>
                        </div>
                    </div>
        </div>
      </div>
 </main>
</div>
<div class="col-md-2"></div>
</div>