@model VM_List_Product
<div class="row">
    <div class="col-md-2">
     
    </div>
    <div class="col-md-8 ">
    <main role="main" class="pb-3">
        <div class="container border rounded-1   w-100 mh-100 MyContainer" style="height: 36rem; margin-top:20px;">
            <div class="row ">
                @if (Model != null)
                {
                    <form class="d-flex justify-content-center" asp-controller="Product" asp-action="ProductUpdate" method="post">
                        <div class="row w-100 ">
                            <!--satır başlangıcı -->
                            <p class="myP">Ürün Adı:</p>
                            <div class="col-5">
                                <h6>@Model.name</h6>
                            </div>
                            <div class="col-4">
                                <div class="row text-start">
                                    <div class="col-md-2">
                                        <a data-toggle="collapse" class="myA" href="#collapse0">
                                            <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="collapse0" class="panel-collapse collapse in">
                                            <span class="text">
                                                <label>
                                                    <input type="text" asp-for="name">
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--satır başlangıcı -->
                            <p class="myP">Açıklama :</p>
                            <div class="col-5">
                                <h6>@Model.description</h6>
                            </div>
                            <div class="col-6">
                                <div class="row text-start">
                                    <div class="col-md-2">
                                        <a data-toggle="collapse" class="myA" href="#collapse1">
                                            <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-9">
                                        <div id="collapse1" class="panel-collapse collapse in">
                                            <span class="text">
                                                <label>
                                                    <textarea asp-for="description"></textarea>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--satır başlangıcı -->
                            <p class="myP">Müşteri:</p>
                            <div class="col-5">
                                <h6>@Model.customer.firstName @Model.customer.lastName</h6>
                            </div>
                            <div class="col-4">
                                <a asp-controller="Customer" asp-action="DetailCustomer"  asp-route-id="@Model.customer.ID" class="btn btn-secondary btn-sm">Detay</a>
                            </div>
                                @if (Model.licence != null)
                                {
                            <!--satır başlangıcı -->
                            <p class="myP">Lisans Anahtarı:</p>
                               
                            <div class="col-5">
                                    
                                        <h6>@Model.licence.licenceKey</h6>
                                
                                   
                            </div>
                            <div class="col-4">
                                <div class="row text-start">
                                    <div class="col-md-2">
                                        <a data-toggle="collapse" class="myA" href="#collapse7">
                                            <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="collapse7" class="panel-collapse collapse in">
                                            <span class="text">
                                                <label>
                                                    <input type="text" asp-for="@Model.licence.licenceKey">
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="myP">Lisans Oluşturma Tarihi:</p>
                            <div class="col-5">
                                <h6>@Model.licence.createdDate</h6>
                            </div>
                            <div class="col-4">

                            </div>
                            <p class="myP">Lisans Kullanım Dolum Zamanı:</p>
                            <div class="col-5">
                                <h6>@Model.licence.expiryDate</h6>
                            </div>
                            <div class="col-4">
                                <div class="row text-start">
                                    <div class="col-md-2">
                                        <a data-toggle="collapse" class="myA" href="#collapse8">
                                            <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="collapse8" class="panel-collapse collapse in">
                                            <span class="text">
                                                <label>
                                                    <input type="date">
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                }
                                else
                                {
                                    <p class="myP">Lisans Anahtarı:</p>

                                    <div class="col-5">

                                        <h6>00000000-0000-0000-0000-00000000000</h6>


                                    </div>
                                    <div class="col-4">
                                        <div class="row text-start">
                                            <div class="col-md-2">
                                                <a data-toggle="collapse" class="myA" href="#collapse7">
                                                    <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-2">
                                                <div id="collapse7" class="panel-collapse collapse in">
                                                    <span class="text">
                                                        <label>
                                                            <input type="text" asp-for="@Model.licence.licenceKey">
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="myP">Lisans Oluşturma Tarihi:</p>
                                    <div class="col-5">
                                        <h6>20/10/21</h6>
                                    </div>
                                    <div class="col-4">
                                    </div>
                                    <p class="myP">Lisans Kullanım Dolum Zamanı:</p>
                                    <div class="col-5">
                                        <h6>20/10/23</h6>
                                    </div>
                                    <div class="col-4">
                                        <div class="row text-start">
                                            <div class="col-md-2">
                                                <a data-toggle="collapse" class="myA" href="#collapse8">
                                                    <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-2">
                                                <div id="collapse8" class="panel-collapse collapse in">
                                                    <span class="text">
                                                        <label>
                                                            <input type="date">
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                }
                                <input type="hidden" asp-for="@Model.customer.ID">
                                <input type="hidden" asp-for="@Model.licence">
                            <button type="submit" class="btn btn-dark m-2 w-100">Güncelle</button>

                        </div>
                    </form>
                }
                </div>
            </div>
        </main>
    </div>
  <div class="col-md-2"></div>
</div>