@model VM_Details_Customer

<div class="row">
    <div class="col-md-2">
        <partial name="~/Views/Customer/partial/kategori.cshtml" />
    </div>
    <div class="col-md-9">
        <main role="main" class="pb-3">
            <div class="container border rounded-1 p-2 m-3 w-100 mh-100 MyContainer" style="height: 35rem;">
                <div class="row" style="margin-top: 35px;">
                    <div class="col-md-6">
                        <form asp-action="UpdateCustomer" asp-controller="Customer" method="post">
                            @if (Model != null)
                            {
                                <!--satır başlangıcı -->
                                <p class="myP">Şirket Adı:</p>
                                <div class="row w-100 ">
                                    <div class="col-4">
                                        <h6>@Model.customer.companyName</h6>
                                    </div>
                                    <div class="col-4">
                                        <div class="row text-start">
                                            <div class="col-md-2">
                                                <a data-toggle="collapse" class="myA" href="#collapse0">
                                                    <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-2">
                                                <div id="collapse0" class="panel-collapse collapse in">
                                                    <span class="text">
                                                        <label>
                                                            <input type="text" asp-for="@Model.customer.companyName">
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--satır başlangıcı -->
                                    <p class="myP">Eposta :</p>
                                    <div class="col-5">
                                        <h6>@Model.customer.ePosta</h6>
                                    </div>
                                    <div class="col-3">
                                        <div class="row text-start">
                                            <div class="col-md-2">
                                                <a data-toggle="collapse" class="myA" href="#collapse1">
                                                    <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-2">
                                                <div id="collapse1" class="panel-collapse collapse in">
                                                    <span class="text">
                                                        <label>
                                                            <input type="text" asp-for="@Model.customer.ePosta">
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--satır başlangıcı -->
                                    <p class="myP">Telefon No:</p>
                                    <div class="col-4">
                                        <h6>@Model.customer.phoneNumber</h6>
                                    </div>
                                    <div class="col-4">
                                        <div class="row text-start">
                                            <div class="col-md-2">
                                                <a data-toggle="collapse" class="myA" href="#collapse2">
                                                    <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-2">
                                                <div id="collapse2" class="panel-collapse collapse in">
                                                    <span class="text">
                                                        <label>
                                                            <input type="text" asp-for="@Model.customer.phoneNumber">
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--satır başlangıcı -->
                                    <p class="myP">Şehir :</p>
                                    <div class="col-4">
                                        <h6>@Model.customer.cityname</h6>
                                    </div>
                                    <div class="col-4">
                                        <div class="row text-start">
                                            <div class="col-md-2">
                                                <a data-toggle="collapse" class="myA" href="#collapse3">
                                                    <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-2">
                                                <div id="collapse3" class="panel-collapse collapse in">
                                                    <span class="text">
                                                        <label>
                                                            <input type="text" asp-for="@Model.customer.cityname">
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--satır başlangıcı -->
                                    <p class="myP">İlçe :</p>
                                    <div class="col-4">
                                        <h6>@Model.customer.townname</h6>
                                    </div>
                                    <div class="col-4">
                                        <div class="row text-start">
                                            <div class="col-md-2">
                                                <a data-toggle="collapse" class="myA" href="#collapse4">
                                                    <i class="indicator fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-2">
                                                <div id="collapse4" class="panel-collapse collapse in">
                                                    <span class="text">
                                                        <label>
                                                            <input type="text" asp-for="@Model.customer.townname">
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                      <!--satır başlangıcı -->
                                   
                                    <input type="hidden" asp-for="customer.ID"/>
                                    <button type="submit" class="btn btn-dark m-2">Güncelle</button>
                                </div>
                            }
                        </form>
                        <div class="justify-content-center d-flex">
                        <a asp-controller="Licence" asp-action="CreateLicence" asp-route-id="@Model.customer.ID"  class="btn btn-outline-dark w-50 ">Lisans Ekle</a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        
                        <div class="DivWithScroll" style="background-color:#889293;">
                            <h2 class="text-center m-1" style="color:#B7C1C3;"> Lisanslar</h2>
                            <table class="table table-striped table-borderless ">
                                <thead>
                                    <tr>
                                        <th scope="col">Lisans Anahtarı</th>
                                        <th scope="col">Aksiyon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.licence != null)
                                    {
                                        foreach (var licence in Model.licence)
                                        {
                                            <tr>
                                                <td>@licence.licenceKey</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                        <a asp-controller="Licence" asp-action="DetailLicence" asp-route-id="@licence.ID" class="btn BtnDuzenle btn-sm">Detay</a>
                                                        <a asp-controller="Licence" asp-action="ListLicence"  class="btn BtnSil btn-sm">Sil</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>