@model List< VM_List_Customer>

<div class="row">
    <div class="col-md-2">
        <partial name="~/Views/Customer/partial/kategori.cshtml" />
    </div>
    <div class="col-md-8">
        <main role="main" class="pb-3">

            <div class="container-md border border  rounded-1 p-2 m-4 w-100 mh-100 MyContainer" style="height: 35rem;">
                <div class="container  DivWithScroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Şirket Adı</th>
                                <th scope="col">EPosta</th>
                                <th scope="col">Telefon No</th>
                                <th scope="col">Aksiyon</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var customer in Model)
                                {
                                    <tr>
                                        <td>@customer.companyName</td>
                                        <td>@customer.ePosta</td>
                                        <td>@customer.phoneNumber</td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <a asp-controller="Customer" asp-action="DetailCustomer" asp-route-id="@customer.ID" class="btn BtnDuzenle btn-sm">Detay</a>
                                                <a asp-controller="Customer" asp-route-id="@customer.ID" asp-action="DeleteCustomer" class="btn BtnSil btn-sm">Sil</a>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
    <div class="col-md-2"></div>
</div>